:root {
  --overlay-darken-opacity: 0.5;
}

body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;

  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
#image {
  background-color: #444;
}

.fs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#image {
  object-fit: cover;
  opacity: 0;
  z-index: 1;
}

#overlay {
  z-index: 2;
  background: #111;
  background: transparent radial-gradient(#333, #000);
  opacity: var(--overlay-darken-opacity);
  transition: 0.25s opacity;
}

#sources {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  z-index: 4;
  padding: 5px;
  opacity: 0.4;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}
