:root {
  --overlay-darken-opacity: 0.5;
  --overlay-blur-radius: 0;
}

body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;

  font-size: 14px;
  font-family: system-ui, sans-serif;
}

body,
#image {
  background-color: #444;
}

.fs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#image {
  object-fit: cover;
  opacity: 0;
  z-index: 1;

  filter: blur(calc(var(--overlay-blur-radius) * 1px));
  transition: .25s filter;
}

#overlay {
  z-index: 2;
  background: #111;
  background: transparent radial-gradient(#333, #000);
  opacity: var(--overlay-darken-opacity);
  transition: 0.25s opacity;
}

#sources {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  z-index: 4;
  padding: 5px;
  opacity: 0.4;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}

#btn-settings {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 5px;
  opacity: .5;
  transition: .1s opacity, .1s background-color;
  z-index: 3;
  background: rgba(0, 0, 0, .5);
  border: 0;
  border-radius: 50%;
  display: flex;
  color: #fff;
  cursor: pointer;
}

#btn-settings > svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

#btn-settings:hover {
  opacity: 1;
  background-color: rgba(150, 150, 150, .5);
}
